@model IEnumerable<MakaleProje.DTO.MakaleDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<main class="container" style="width:90%">

    <p>
        @Html.ActionLink("Yeni Makale", "Create")
    </p>
        @Html.Grid(Model).Columns(c =>
   {
       c.Add(ct => ct.MakaleBaslik)
           .Titled("Başlık")
           .Sortable(true)
           .Encoded(false)
           .Sanitized(false);
       c.Add(ct => ct.CreatedDate)
           .Titled("Eklenme Tarihi")
           .Sortable(true)
           .Filterable(true)
           .Encoded(false)
           .Sanitized(false);
       c.Add()
           .Sortable(false)
           .Filterable(false)
           .Encoded(false)
           .Sanitized(false)
           .RenderValueAs(ct => Html.ActionLink("Güncelle","Edit", new { id = ct.MakaleID }) +" | " + @Html.ActionLink("Sil", "Delete",new { id = ct.MakaleID }));
   }).WithPaging(4)
</main>